{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="{% static 'css/icon-select.css' %}" rel="stylesheet" /> -->
<style>
    #result_list .field-icon_with_name {
        white-space: nowrap;
    }
    #result_list .field-icon_with_name i {
        margin-right: 8px;
    }
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
<script src="{% static 'js/icon-select.js' %}"></script> -->
{% endblock %} 