{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="{% static 'admin/css/vendor/select2/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'admin/css/autocomplete.css' %}" rel="stylesheet" />
<link href="{% static 'css/icon-select.css' %}" rel="stylesheet" /> -->
{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script>
    // Debug jQuery loading
    console.log('jQuery loaded:', typeof jQuery !== 'undefined');
</script>
<script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
<script>
    // Debug Select2 loading
    console.log('Select2 loaded:', typeof $.fn.select2 !== 'undefined');
</script>
<script src="{% static 'js/icon-select.js' %}"></script>
<script>
    // Debug Select2 loading
    console.log('icon-select.js loaded:', typeof formatIconOption !== 'undefined');
</script> -->
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}

{% endblock %} 
<script>
    // django.jQuery(function($) {
    //     console.log('jQuery version:', $.fn.jquery); // Debugging log
    //     console.log('Select2 available:', $.fn.select2); // Debugging log
    //     $('.icon-select').select2({
    //         templateResult: formatIconOption,
    //         templateSelection: formatIconOption,
    //         escapeMarkup: function(m) { return m; }
    //     });
    // });
(function($) {
    // Debugging: Check if dependencies are loaded
    console.log('jQuery version:', $.fn.jquery);
    console.log('Select2 version:', $.fn.select2 ? $.fn.select2.version : 'Not loaded');
    console.log('FontAwesome test:', $('<i class="fas fa-book"></i>').css('font-family'));
    
    // Initialize icon select
    $('.icon-select').select2({
        templateResult: formatIconOption,
        templateSelection: formatIconOption,
        escapeMarkup: function(m) { return m; }
    });

        // Initialize icon select
    $('.icon-select').select2({
        templateResult: formatIconOption,
        templateSelection: formatIconOption,
        escapeMarkup: function(m) { return m; }
    });
})(django.jQuery);
</script>